.accordion {
  width: 100%;
}

.accordion__element {
  padding: 33px 0 30px;
  border-top: 1px solid rgba(28, 51, 116, 0.2);

  @include vp-1199 {
    padding: 31px 0 28px;
  }

  @include vp-767 {
    padding: 20px 0 21px;
  }

  &:last-child {
    border-bottom: 1px solid rgba(28, 51, 116, 0.2);
  }
}

.accordion__header {
  position: relative;
}

.accordion__element h3 {
  margin: 0;
  padding-right: 50px;

  font-weight: 500;
  font-size: 24px;
  line-height: 28px;

  @include vp-767 {
    font-size: 18px;
    line-height: 21px;
  }
}

.accordion__element.is-active h3 {
  margin-bottom: 13px;

  @include vp-1199 {
    margin-bottom: 15px;
  }

  @include vp-767 {
    margin-bottom: 15px;
  }
}

.accordion__element br {
  display: none;

  @include vp-350 {
    display: block;
  }
}

.accordion__content p {
  max-width: 660px;
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;

  @include vp-1199 {
    max-width: 550px;
  }

  @include vp-767 {
    font-size: 16px;
    line-height: 22px;
  }

  &:not(:last-child) {
    margin-bottom: 20px;
  }
}

.accordion__button {
  position: absolute;
  top: 50%;
  right: 0;
  width: 42px;
  height: 42px;
  background-color: transparent;
  border: 1px solid $color-default-sapphire;
  border-radius: 50%;
  transform: translateY(-50%);

  @include vp-767 {
    width: 32px;
    height: 32px;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 17px;
    height: 1px;
    background-color: $color-default-sapphire;
    transform: translate(-50%, -50%);

    @include vp-767 {
      width: 12px;
    }
  }

  &::before {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}

.accordion__element.is-active {
  .accordion__button {
    background-color: $color-default-sapphire;

    &::after {
      background-color: $color-default-white;
    }

    &::before {
      display: none;
    }
  }
}
