.questions-and-answers {
  width: 100vw;
  padding: 120px 0;
  background-color: $color-ghost-white;

  @include vp-1199 {
    padding: 99px 0 100px;
  }

  @include vp-767 {
    padding: 70px 0;
  }

  .tabs {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    @include vp-1199 {
      flex-direction: column;
    }
  }

  .tabs__element {
    background-color: $color-ghost-white;
  }

  .tabs__controls {
    min-width: 260px;
    flex-direction: column;
    margin: 0;

    @include vp-1199 {
      width: 100%;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 37px;
    }

    @include vp-767 {
      flex-wrap: wrap;
      margin-bottom: 20px;
    }
  }

  .tabs__control {
    padding-bottom: 14px;
    font-size: 18px;
    line-height: 21px;
    font-weight: 500px;
    text-transform: inherit;
    opacity: 1;
    border: 1px solid rgba(16, 38, 84, 0.2);
    margin-bottom: 10px;

    @include vp-1199 {
      min-width: 162px;
      margin-bottom: 0;
    }

    @include vp-767 {
      font-size: 16px;
      line-height: 19px;
      min-width: 141px;
      margin-bottom: 8px;
      padding: 12px 0;
    }

    &:hover,
    &:focus-visible {
      outline: none;
      border-color: $color-default-sapphire;
    }

    &:disabled {
      opacity: 0.6;
    }
  }

  .tabs__control.is-active {
    color: $color-default-white;
    pointer-events: none;
    background: $cobalt-btn-to-bottom;
    border: none;
  }

  .tabs__content {
    width: 860px;
    margin-top: 1px;

    @include vp-1199 {
      width: 100%;
      min-height: 466px;
    }


    @include vp-767 {
      min-height: 480px;
    }
  }
}

.questions-and-answers__title {
  margin: 0 0 35px;

  @include vp-1199 {
    text-align: center;
    margin-bottom: 40px;
  }

  @include vp-767 {
    margin-bottom: 31px;
  }
}
