.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  background-color: transparent;
  color: $color-default-sapphire;
  border: none;
  cursor: pointer;
  font-family: $ff-roboto;
  font-size: 12px;
  line-height: 12px;
  font-weight: 700;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  transition: opacity $trans-default;
  user-select: none;

  &:focus-visible {
    outline: none;
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}
