.custom-input {
  position: relative;
  margin-right: 30px;
  display: inline-block;
  width: 190px;

  @media screen and (max-width: 767px) {
    padding: 4px 0 8px;
    width: 100%;
  }

  input {
    flex-grow: 1;
    max-width: 300px;
    min-height: 48px;
    margin-left: auto;
    padding: 10px;

    border: 2px solid rgba(#000000, 0.2);
    outline: none;

    @media screen and (max-width: 767px) {
      max-width: unset;
      width: 100%;
    }
  }

  &__error {
    position: absolute;
    right: 0;
    bottom: 35px;

    color: #ff1553;

    opacity: 0;

    transition: opacity 0.3s ease;

    @media screen and (max-width: 767px) {
      bottom: 20px;
    }
  }

  &.is-invalid {
    input {
      border-bottom: 1px solid #ff121f;

      &:focus,
      &:hover {
        border-bottom: 1px solid rgba(#ff121f, 0.5);
      }
    }
  }

  &.is-valid {
    input {
      border-bottom: 1px solid #22b259;

      &:focus,
      &:hover {
        border-bottom: 1px solid rgba(#22b259, 0.5);
      }
    }
  }

  .input-message {
    width: 191px;
    font-size: 14px;
    line-height: 16px;
    position: absolute;
    right: 0;
    bottom: -20px;

    &.is-invalid {
      color: #ff121f;
    }

    &.is-valid {
      color: #15ab07;
    }

    @include vp-767 {
      bottom: -12px;
    }
  }

  @include vp-1199 {
    margin-right: 0;
    width: 206px;
  }

  @include vp-767 {
    padding-bottom: 9px;
    width: 100%;
  }
}
