.season-tickets {
  position: relative;
  width: 100vw;
  background-color: $color-ghost-white;

  h2 {
    margin: 0;
    text-align: center;

    @include vp-1199 {
      margin-bottom: 4px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 287px;
    height: 494px;
    background-image: url("../img/season-tickets/disks-desktop.png");
    right: 0;
    bottom: -149px;

    @include vp-1199 {
      width: 347px;
      height: 444px;
      bottom: -125px;
      background-image: url("../img/season-tickets/disks-tablet.png");
      background-size: 100%;
    }

    @include retina {
      // background-image: url("../img/season-tickets/disks-desktop@2x.png");
      // width: 287px;
      // height: 494px;
      // background-size: 100%;

      // @include vp-1199 {
        background-image: url("../img/season-tickets/disks-tablet@2x.png");
        width: 347px;
        height: 444px;
      // }
    }

    @media (min-width: $vp-1200) {
      @include retina {
        background-image: url("../img/season-tickets/disks-desktop@2x.png");
        width: 287px;
        height: 494px;
        background-size: 100%;
      }
    }

    @include vp-767 {
      display: none;
    }
  }
}

.season-tickets__wrapper {
  width: 1160px;
  margin: 0 auto;
  padding: 120px 0;

  @include vp-1199 {
    width: 100%;
    padding: 100px 0;
  }

  @include vp-767 {
    padding: 64px 0 68px;
  }
}
