.tabs {
  max-width: 100%;
}

.tabs__controls {
  display: flex;
  justify-content: space-between;
  width: 341px;
  margin: 0 auto 39px;
  border-bottom: 2px solid rgba(120, 120, 120, 0.2);

  @include vp-1199 {
    min-width: 332px;
    margin-bottom: 44px;
  }

  @include vp-767 {
    min-width: 290px;
    margin-bottom: 35px;
  }
}

.tabs__control {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  font-size: 20px;
  padding: 19px 0 15px;
  background: transparent;
  border: none;
  text-transform: lowercase;

  @include vp-1199 {
    font-size: 18px;
  }

  @include vp-767 {
    font-size: 16px;
  }

  &:disabled {
    opacity: 0.7;
  }
}

.tabs__content {
  transition: height 0.3s;
  min-height: 448px;

  @include vp-1199 {
    min-height: 1424px;
  }

  @include vp-767 {
    min-height: 1227px;
  }
}

.tabs__element {
  width: 100%;
}

.tabs--unset .tabs__element {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.tabs__title {
  h3 {
    margin: 0;
    font-size: 26px;
    font-family: $ff-roboto-bold;
    font-weight: 700;
    line-height: 110.16%;

    @include vp-767 {
      font-size: 22px;
    }
  }

  span {
    margin: 9px 0 51px;
    color: $color-chambray;

    @include vp-767 {
      margin-bottom: 42px;
    }
  }
}

.tabs__list {
  display: grid;
  grid-template-columns: auto auto auto;
  column-gap: 40px;
  margin: 0;
  padding: 0;

  @include vp-1199 {
    grid-template-columns: 65.2%;
    justify-content: center;
    row-gap: 40px;
  }

  @include vp-767 {
    grid-template-columns: auto;
    row-gap: 35px;
  }
}

.tabs__item {
  display: flex;
  flex-direction: column;
  min-height: 448px;
  padding: 56px 70px 62px;
  background-color: $color-default-white;
  list-style-type: none;
  text-align: center;
  border: 7px solid transparent;

  &:hover,
  &:focus-visible {
    outline: none;
    border-image: $cobalt-tabs-to-bottom 1;

    .tabs__link {
      color: $color-default-white;
      background: $cobalt-btn-to-bottom;
      border: none;

      &:active {
        color: rgba(255, 255, 255, 0.7);
      }
    }
  }

  @include vp-767 {
    min-height: 384px;
    padding: 44px 11.25vw 49px;
  }
}

.tabs__text-price {
  display: block;
  position: relative;
  font-family: $ff-roboto-bold;
  font-weight: 700;
  min-width: 203px;
  min-height: 82px;

  p {
    position: absolute;
    display: block;
    width: 203px;
    height: 69px;
    top: 60px;
    left: 0;
    right: 0;
    color: #e8e8e8;
    font-size: 100px;
    line-height: 72px;
    margin: 0 auto;
    background-color: $color-default-white;

    @include vp-767 {
      font-size: 80px;
      line-height: 58px;
    }
  }

  span {
    position: absolute;
    display: block;
    width: 168px;
    height: 42px;
    bottom: 0;
    left: 0;
    right: 0;
    color: $color-egyptian-blue;
    font-size: 60px;
    line-height: 46px;
    top: 96px;
    margin: 0 auto;
    padding-right: 46px;

    &::after {
      position: absolute;
      content: "";
      top: 0;
      bottom: 0;
      right: 0;
      margin: auto 0;
      width: 30px;
      height: 42px;
      background-image: url("../img/season-tickets/ruble.svg");
    }

    @include vp-767 {
      font-size: 48px;
      line-height: 36px;
      margin-left: 5px;
    }
  }

  @include vp-767 {
    min-height: 67px;
  }
}

.tabs__link {
  width: 206px;
  min-height: 64px;
  margin: auto auto 0;
  border: 2px solid $color-default-sapphire;
}
